<main>
  <div class='menu'>
    <div class='score'></div>
    <div class='highscore'></div>
    <button class='mode'></button>
    <button class='newgame'>New game</button>
    <div class='flash hide'></div>
  </div>
  <div class='board'></div>
</main>
<template id='cell'>
  <div class='cell'></div>
</template>
{{#contentFor 'title'}}Playing 2048 with chat somehow{{/contentFor}}
{{#contentFor 'style'}}
<link rel='stylesheet' href='/css/game.css'>
<style>
</style>
{{/contentFor}}
{{#contentFor 'scripts'}}
<script src='/js/game.js'></script>
{{/contentFor}}
